body{
  background-color: #fdf6ea ;
}
.elementor-section {
  padding: 70px 0px 70px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.elementor-container{
  display: flex;
  flex-wrap: center;
  justify-content: center;
}

.icon{
  margin: 0 50px;
  display: flex; /* Đảm bảo flexbox được áp dụng */
  width: 150px; /* Đặt kích thước chiều rộng */
  height: 150px; /* Đặt kích thước chiều cao */
  border-radius: 50%; /* Làm cho phần tử trở thành hình tròn */
  background-color: #f5e9d4; /* Màu nền của hình tròn */
  align-items: center;
  justify-content: center;
}

.elementor-container.elementor-column-gap-no .elementor-column {
  display: flex;
  justify-content: center; /* Canh giữa theo chiều ngang */
  align-items: center; /* Canh giữa theo chiều dọc */
}

.icon-svg {
  width: 150px; /* Đặt kích thước chiều rộng */
  height: 150px; /* Đặt kích thước chiều cao */
  border-radius: 50%; /* Làm cho phần tử trở thành hình tròn */
  background-color: #f5e9d4; /* Màu nền của hình tròn */
  overflow: hidden;
  position: relative;
  flex: 1px;
}


.icon-svg svg {
  width: 50%; /* Đặt kích thước SVG bên trong */
  height: 50%;
  fill: #da853d; /* Màu sắc cho biểu tượng SVG */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text {
  position: absolute;
  color: 303030; /* Màu chữ */
  flex: 1px;
  margin-top: 200px;
  margin-left: 10px; /* Khoảng cách bên trái */
  margin-right: 10px; /* Khoảng cách bên phải */
}

h5 {
  font-size: 1.5em;
  margin: 0;
  transition: color 0.3s;
  font: 20px Raleway,sans-serif;
}
.icon:hover .icon-svg {
          transform: scale(0.9);
      }
      .icon:hover .text h5 {
          color: #838c48;
      }